.rc{

    border-radius: 40px;
    padding:20px 25px 20px 25px;
    background-color: #ffffff;
    color: gray;
}
.rc:hover{
    background-color: #000000;
    color: #ffffff;

}
.carousel-control-next, .carousel-control-prev {
     opacity: 1;
}
.div-top{
    padding: 25% 0 0  0;
    height: 100vh;
}
.div-top h1{
    font-size: 60px;
    font-weight: 600;
}
.div-top p{
 margin-bottom: 70px;
}


.div-top a{
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    background-color: #0d9f51;
    padding: 15px;
    border-radius: 30px;
}

.back-col4{
    background-color:#ffffff !important;
    border-radius: 5px;
    padding: 25px;
    
}
.leftc{
    margin-top: -65px;
    position: relative  !important;
    z-index: 3 !important;
    
  
}
.banner-index{
    position: relative !important;

    z-index: 0 !important;
}
.back-col4 p{
font-weight: 600;    
}
.back-col4 span{
    font-weight:300;    
    color: gray;
}