.be p{
color: #27ac5f;
font-weight: 500;
  
}
.be h2{
    font-weight: 500;
}
.box{
    border: 0.5px solid gray;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 55px;
    padding-bottom: 55px;
}
.ela a{
    text-decoration: none;
    background-color: white;
    padding: 12px;
    color: #000000;
    border-radius: 3px;
    box-shadow: #000000;
    font-weight: 400;
    font-size: 15px;

}
.colorAmazing{
    background-color: #f7f7f7;
}
.paddedb{
    padding-top: 10px;
    padding-bottom: 150px;
}
.paddedamazing{
    padding-top: 100px;
    padding-bottom: 100px;
}