
.bg-light {
    background-color: rgba(255, 0, 0, 0.0) !important;


}
li a{
    color: #ffffff !important;
}
li a:hover{
    color: gray !important;
}

.liah{
    color: gray !important;
}
.liah:hover{
    color: #ffffff !important;
}